<div claas= "row">
    <h2> EDUCACION: </h2>
   

<h3> •Jardin y Primaria</h3>
<img src="../../../assets/logoalmirante.jpg" 
width="80px"
 height="80px"
/> 
<h4>
    2005-2012: "Esc. Nº 95 Almirante Guilleromo Brown"
</h4>
<h4>Titulo: Diploma de Grado</h4>
<button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
<h3> •Secundaria</h3>
<img src="../../../assets/logosanagustin.png" 
width="80px" />
<h3>
    2013-2017: "Colegio Privado San Agustin"
</h3>
<h4>Titulo: Bachiller en Ciencias Sociales y Humanisticas</h4>
<button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
<h3>•Curso de Formación Profesional </h3>
<img src="../../../assets/logo prof7.jpg" 
width="80px" />
<h4>
    2016-2017:"Felisa S R de S Bustamante Escuela Profesional N° 7"
</h4>
<h4>Titulo: Gestor en Organización y Administración en Microemprendimientos</h4>
<button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
<h3>• Universidad:</h3>
<img src="../../../assets/logo-universidad-nacional-de-la-rioja.png" 
width="80px" />
<h4>
    2019-Actualidad: "Universidad Nacional de La Rioja"
</h4>
<h4> Carrera: Ingenieria en Mecatrónica </h4>
<button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
</div>
