

   
<div claas="row">
    <h2>HARD AND SOFT SKILLS</h2>
    <div claas="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]= " 70 " 
        [radius]= " 91 " 
        [outerStrokeWidth]= " 16 " 
        [innerStrokeWidth]= " 8 " 
        [outerStrokeColor]= " '#78C000' " 
        [innerStrokeColor]= " 'orange' " 
        [animation]="true" 
        [animationDuration]= " 600 "
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="' C'" >
        </circle-progress>
        <button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
        
    </div>
     <div claas= "text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]= " 70 " 
    [radius]= " 91 " 
    [outerStrokeWidth]= " 16 " 
    [innerStrokeWidth]= " 8 " 
    [outerStrokeColor]= " '#78C000' " 
    [innerStrokeColor]= " 'orange' " 
    [animation]="true" 
    [animationDuration]= " 600 "
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="' HTML'" >
        
    </circle-progress>
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
     </div>
     <div claas= "text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]= " 70 " 
    [radius]= " 91 " 
    [outerStrokeWidth]= " 16 " 
    [innerStrokeWidth]= " 8 " 
    [outerStrokeColor]= " '#78C000' " 
    [innerStrokeColor]= " 'orange' " 
    [animation]="true" 
    [animationDuration]= " 600 "
    [showUnits]="false"
    [showSubtitle]="false"
    [title]="' CCS'" >
        
    </circle-progress>
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
     </div>
     <div claas= "text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]= " 85 " 
    [radius]= " 91" 
    [outerStrokeWidth]= " 16 " 
    [innerStrokeWidth]= " 8 " 
    [outerStrokeColor]= " '#78C000' " 
    [innerStrokeColor]= " 'orange' " 
    [animation]="true" 
    [animationDuration]= " 600 "
    [title]="' Eficacia'"
    [showUnits]="false"
    [showSubtitle]="false" >
        
    </circle-progress>
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
     </div>
     <div claas= "text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]= " 95 " 
    [radius]= " 91 " 
    [outerStrokeWidth]= " 16 " 
    [innerStrokeWidth]= " 8 " 
    [outerStrokeColor]= " '#78C000' " 
    [innerStrokeColor]= " 'orange' " 
    [animation]="true" 
    [animationDuration]= " 600 "
    [title]="' Responsabilidad'"
    [showUnits]="false"
    [showSubtitle]="false" >
        
    </circle-progress>
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
     </div>
     <div claas= "text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]= " 85 " 
    [radius]= " 91 " 
    [outerStrokeWidth]= " 16 " 
    [innerStrokeWidth]= " 8 " 
    [outerStrokeColor]= " '#78C000' " 
    [innerStrokeColor]= " 'orange' " 
    [animation]="true" 
    [animationDuration]= " 600 "
    [title]="' Eficiencia'"
    [showUnits]="false" 
    [showSubtitle]="false" 
    >
     
    </circle-progress>
     
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
    <button type="button" class="btn btn-secondary btn-sm">X</button>
    
</div>
</div>















