
/*header{
  display: flex;
}*/

  .redes {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;}

#logoAP img{
   display: flex;
       height: 50px;
       justify-content: space-between;
       
      
       
       
       
    
}
/*img{
  width: 80px;
  margin-top: 50px;
  
  
}
.btn-outline-light {
  --bs-btn-color: #1f72c4;
  --bs-btn-border-color: #2475c7;
  vertical-align: bottom;}
 
 
/*.imagen{
  text-align: left;
}*/
/*.redes{
  style: "position: absolute; right: 0;"
}*/
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  flex-direction: column-reverse;
  align-content: stretch;
  justify-content: flex-start;
  
}

  
  
