
<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <button type="button" class="btn btn-primary btn-sm">Editar</button>
      <button type="button" class="btn btn-secondary btn-sm">X</button>  
<img src="../../../assets/perfilfoto.jpg" 
width="500px"
 height="600px"
/> 


    </div>

<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1>Coronel, Camila Agostina</h1> <button type="button" class="btn btn-primary btn-sm">Editar</button>
    <button type="button" class="btn btn-secondary btn-sm">X</button>
<h2>FULL STACK DEVELOPER JR.</h2> <button type="button" class="btn btn-primary btn-sm">Editar</button>
<button type="button" class="btn btn-secondary btn-sm">X</button>
    <h3> Acerca de mi</h3>
  
    <p>
       Tengo veintitres años. Nacida en la provincia de Jujuy y viviendo actualmente en La Rioja,Argentina. 
<p>Soy Gestora en Organizacion y Administración en Microemprendimientos.</p>
    
    <p> Soy estudiante de la carrera de Ingenieria en Mecatronica en la Universidad Nacional de La Rioja.</p>
    <p>Por el momento no me he desempeñado laboralmente en el rubro de la programacion.</p>
    <button type="button" class="btn btn-primary btn-sm">Editar</button>
    <button type="button" class="btn btn-secondary btn-sm">X</button>
  </span>  
</div>

</div>


 